* {
    font-family: "Noto Sans KR";
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    background: #f5f5f7;
}

$colors: (
    black: #010101,
    gray: #bdbdbd,
    white: #ffffff,
    dark-gray: #828282,
);
